body{
    background-color: #120B0D;
}
header{
    position: absolute;
    width: 70%;
    top: 0;
    left: 15%;
    height: 60px;
    text-align: center;
    background-color: #120B0D;
    border-radius: 10px;
}
#backgroundimg{
    display: flex;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.aboutme{
    position: fixed;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    margin-left: 100px;
    background-color: #231a1d;
    border-radius: 10px;
    padding: 20px;
    margin-top: -100px;
    text-align:center;

}
.textpartaboutme{
    margin-bottom: 20px;
}
.fa-brands.fa-github{
    text-decoration: none;
    color: aliceblue;
    margin-right: 50px;
    margin-left: 53px;
    background-color: rgb(189, 122, 169);
    padding: 5px;
    border-radius: 10px;
}

.fa-solid.fa-cloud{
    text-decoration: none;
    color: aliceblue; 
    margin-left: -50px; 
    background-color: rgb(189, 122, 169); 
    padding: 5px;
    border-radius: 10px;
}
.icons{
    display: flex;
    gap: 10px;
}
.hyperlink{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(189, 122, 169);
    padding: 2px;
    border-radius: 5px;
}
#yoru{
    border-radius: 10px;
    margin-left: 3px;
}
p1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.aboutme-txt{
    position: fixed;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: aliceblue;
    margin-left: 370px;
    background-color: #231a1d;
    border-radius: 10px;
    padding: 20px;
    margin-top: -100px;
    margin-right: 10%;
}
#aboutme-txt-h4{
    font-size: 30px;
    text-align: left;
}
.aboutme-txt-p{
    text-align: left;
}